
#Exclusivos .card {
  overflow: hidden;
}

#Exclusivos .card-img-top {
  height: 220px;
  width: 100%;
  object-fit: contain;

  padding: 0;               
  display: block;

  margin: auto;              
}

#Exclusivos .card:hover .card-img-top {
  transform: scale(1.10);
}

#Exclusivos .card .btn {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .2s ease, transform .2s ease;
}

#Exclusivos .card:hover .btn {
  opacity: 1;
  transform: translateY(0);
}
