
#Exclusivos .card {
  overflow: hidden;
}

#Exclusivos .card-img-top {
  height: 220px;
  width: 100%;
  object-fit: contain;

  padding: 0;               
  display: block;

  margin: auto;              
}

#Exclusivos .card:hover .card-img-top {
  transform: scale(1.10);
}

#Exclusivos .card .btn {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity .2s ease, transform .2s ease;
}

#Exclusivos .card:hover .btn {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 576px){

  #Exclusivos .card{
    padding: 10px !important;
  }

  #Exclusivos .card-img-top{
    height: 120px !important;
  }

  #Exclusivos .card-title{
    font-size: 12px;
  }

  #Exclusivos .card-text{
    font-size: 12px;
    margin-bottom: 8px;
  }

  #Exclusivos .btn{
    font-size: 12px;
    padding: 6px 8px;
  }

  #Exclusivos .card .btn{
    opacity: 1 !important;
    transform: none !important;
  }

}