@charset "utf-8";

.fundoBanner {   
    background: url(../imagens/Banners/Bannerfundo.png) no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
    position: relative;
}

.opacidade{
    background-color: rgba(255, 255, 255, 0.6);
}